<table mat-table [dataSource]="movies$ | async" class="mat-elevation-z8">

  <ng-container matColumnDef="nameVideos">
    <th mat-header-cell *matHeaderCellDef> Play list videos</th>
    <td mat-cell *matCellDef="let movie" [routerLink]="['/movie', movie.snippet.resourceId.videoId]"> {{movie.snippet.title}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" color="primary"></tr>
</table>

<!-- <table>
  <thead>
    <th>Emma</th>
  </thead>

  <tbody>

    <tr *ngFor="let movie of (movies$ | async); index as i">
      <td [routerLink]="['/movie', movie.snippet.resourceId.videoId]">
        {{i + 1}}) {{movie.snippet.title}}
      </td>
    </tr>
  </tbody>

</table> -->